<div mat-dialog-content style="width: 100%; margin:0; padding: 0; ">
    <div class="row" style="width: 100%; margin: 0;">
            <div class="col-md-8">
                <mat-form-field appearance="none" class="full-width input-focus-hover font-iran-sans-FA">
                    <mat-label>عنوان</mat-label>
                    <input matInput placeholder="مثلا تمرین سری 1" style="font-size: 16px; height: 30px; padding-bottom: 5px;" [(ngModel)]="task.title">
                </mat-form-field>
            </div>
            <div class="col-md-4" style="float: left;">
                <mat-form-field appearance="none" class="full-width input-focus-hover font-iran-sans-FA">
                    <mat-label>مربوط به</mat-label>
                    <input matInput placeholder="مثلا دانشگاه" style="font-size: 16px; height: 30px; padding-bottom: 5px;" [(ngModel)]="task.owner">
                </mat-form-field>
            </div>

            <div class="col-md-12">
                <mat-divider></mat-divider>
            </div>
            
            <!--col 1-->
            <div class="col-lg-8">
                <div class="text-center">
                    <p  class="font-iran-sans-FA mt-3" 
                        style=" font-weight: bolder;
                                padding-bottom: 0; margin-bottom: 0;
                                text-align: right;
                                vertical-align:middle">
                        <!--<span class="material-icons">
                            description
                        </span> -->
                            توضیحات:
                    </p>
                    <div class="w-100 text-area-div-styles">
                        <mat-form-field appearance="none"
                                        class="mat-form-field-styles">
                            <textarea   matInput
                                        cdkTextareaAutosize
                                        #autosize="cdkTextareaAutosize"
                                        class="font-iran-sans-FA text-area-styles"
                                        name="description"
                                        [(ngModel)]="task.description"
                                        cdkAutosizeMinRows="5"
                                        cdkAutosizeMaxRows="30">
                            </textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <!-- col 2 -->
            <div class="col-lg-4" style="float: left;" >
                <div class="text-center">
                    <p  class="font-iran-sans-FA mt-3" 
                        style="font-weight: bolder; text-align: right; padding-bottom: 0; margin-bottom: 0;">
                        ددلاین:
                    </p>
                    <div class="w-100" style="background-color: #e0e2e6; border-radius: 5px; margin-top: 10px;">
                        <input 
                            class="w-100 font-iran-sans-FA text-center p-3" style="background-color: transparent; border:none" 
                            [dpDayPicker]="datePickerConfig"
                            [(ngModel)]="dateObject"
                            (onChange)="changeDate()"
                            
                            mode="daytime" 
                            dir="rtl" 
                            theme="dp-material" 
                            placeholder="تاریخ مورد نظرت رو انتخاب کن"/>
                    </div>
                </div>  
                <div class="text-center">
                    <p  class="font-iran-sans-FA mt-3" 
                        style="font-weight: bolder; text-align: right; padding-bottom: 0; margin-bottom: 0;">
                        وضعیت تسک:
                    </p>
                    <div class="w-100" style="background-color: #e0e2e6; border-radius: 5px; margin-top: 10px;">
                        <mat-form-field  appearance="none"
                        class="select-focus-hover"
                        style="width: 120px; padding: 0; margin:0; margin-top:7px;">
                            <mat-select
                            class="font-iran-sans-FA align-center text-center" 
                            style="color: white !important; min-width: 100%;"
                            [(value)]="task.status">
                            <mat-option [value]="status.value" 
                                class="font-iran-sans-FA" 
                                *ngFor="let status of statusType">{{ status.viewValue }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="text-center">
                    <p  class="font-iran-sans-FA mt-3" 
                        style="font-weight: bolder; text-align: right; padding-bottom: 0; margin-bottom: 0;">
                        اولویت:
                    </p>
                    <div class="w-100 p-2" style="background-color: #e0e2e6; border-radius: 5px; margin-top: 10px;">
                        <mat-star-rating  
                            [rating]="task.priority"  
                            [starCount]="starCount" 
                            (ratingUpdated)="onRatingChanged($event)">
                        </mat-star-rating>
                    </div>
                </div> 
                 
            </div>

          <!--<button (click)="onSubmit(priceData)"  cdkFocusInitial mat-button style="width: 145px; max-width: 100%; margin-left:15px;" class="btn btn-success title-font title-bold">{{ 'BUTTON.SUBMIT' | translate}}</button>
          <button mat-button mat-dialog-close style="width:145px; max-width: 100%;"  class="btn btn-danger pull-right title-font title-bold">{{'BUTTON.DECLINE' | translate}}</button>
          -->
    </div>
</div>