
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    width: auto;
    background-color: #A8D0E6;
	font-family: 'Montserrat', sans-serif;
    color: #374785;
    padding: 0;
    direction: rtl;
    text-align: right;
}

.logo {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 150px;
}

.background-main-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
	position: relative;
    background-image: url('../../assets/img/landing/MAIN2.png');
    object-fit: fill;
}

a {
	text-decoration: none;
}

.bg-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    color: white;
}

.bg-text h1 {
    margin:50px 0 20px 0;
    text-align: center;
    font-size: 60px;
}

.bg-text h5 {
    font-weight: lighter;
    width: 100%;
    text-align: right;
}

.bg-text a {
    color: white;
    padding: 12px 80px;
    margin-top: 30px;
    border: 1px solid white;   
    border-radius: 20px;
    top: 10%;
    right: 0;
    font-size: 25px;
}

.bg-text a:hover {
    font-weight: 500;
}

//BODY CARDS
.main-container{
    display:flex;
    justify-content: center;
    align-items:center;
    min-width: 100vw;
    min-height: 100vh;
    padding: 25px;
}

.l {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1013%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(55%2c 71%2c 133%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c94 C 72%2c116.8 216%2c226.4 360%2c208 C 504%2c189.6 576%2c13.6 720%2c2 C 864%2c-9.6 936%2c137.6 1080%2c150 C 1224%2c162.4 1368%2c81.2 1440%2c64L1440 560L0 560z' fill='rgba(247%2c 108%2c 108%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c340 C 96%2c377.8 288%2c515.4 480%2c529 C 672%2c542.6 768%2c423.2 960%2c408 C 1152%2c392.8 1344%2c444 1440%2c453L1440 560L0 560z' fill='rgba(168%2c 208%2c 230%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1013'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");    
    text-align: center;
}
  
.sub-container{
    justify-content: space-evenly;
    align-items:center;
    padding: 15px;
    flex-direction:column;
    height: auto;
}
  
.glass-morphism-container1{
    position:relative;
    background-color: rgba(255, 255, 255,0.2);
    padding: 50px;
    color:white;
    border-radius: 25px;
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.1);
    backdrop-filter: blur(20px);
}

.glass-morphism-container1 p{
    text-align: right;
    text-align: justify;
    text-justify: inter-word;
}

.text-styling {
    text-align: center;
    margin-bottom: 20px;
}


.body-images {
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

//BODY
.explanations{
    margin: auto;
    text-align: right;
}
.explanations p {
    margin: 50px;
    text-align: right;
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
}

.explanations h2 {
    margin: 50px;
    font-size: 40px;
}

.questions {
    padding-top: 50px;
    margin: auto;
    width: 85%;
}

.shape-after-body {
    background-color: #f76c6c;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1186%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(168%2c 208%2c 230%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c374 C 96%2c335.2 288%2c189.8 480%2c180 C 672%2c170.2 768%2c315.2 960%2c325 C 1152%2c334.8 1344%2c248.2 1440%2c229L1440 560L0 560z' fill='rgba(247%2c 108%2c 108%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1186'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    height: 50vh;
    margin: 0;
}

.center-verticaly {
    margin: auto;
}

//TEKRAR SIGN UP
.signup-today {
    background-color: #f76c6c;
    text-align: center;
    font-weight: bold;
    padding: 0px 50px 150px 50px;
    color: white;   
}

.signup-today h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

.signup-today h3 {
    font-weight: lighter;
}

.signup-today a {
    color: white;
    padding: 12px 80px;
    margin-top: 40px;
    border: 1px solid white;   
    border-radius: 20px;
    top: 10%;
    right: 0;
    font-size: 25px;
}

.signup-today a:hover {
    font-weight: 500;
}

//FOOTER
footer {
    margin-top: 0;
    background-color: #24305e;
    bottom: 5px;
    padding: 50px;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-bottom: 10px;
}

.icons {
    width: 40px;
    height: 40px;
    box-shadow: black;
    padding: 0px;
    margin: 0 10px;
}


@media (max-width: 550px) {
    .logo {
        width: 100px;
    }
}

/* gradient transition 
    background: linear-gradient(-45deg, #374785, #a8d0e6, #f76c6c);
    #ee7752, #e73c7e, #23a6d5, #23d5ab
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    bottom: 5px;
    padding: 50px;
*/

