
<div class="container-fluid">
  <div class="fade-in">
    <!-- /.row-->
    <div class="row">
      <div class="col-md-12">
          <mat-accordion class="chart-expansion-headers-align"> 
              <mat-expansion-panel >
                <mat-expansion-panel-header>
                  <mat-panel-title class="font-iran-sans-FA">
                    <mat-icon style="float:right; margin-left: 10px;">account_circle</mat-icon>
                    اطلاعات اولیه
                  </mat-panel-title>
                  <!--
                  <mat-panel-description class="font-iran-sans-FA">
                    اطلاعات دانشگاه و رشته
                  </mat-panel-description>
                  -->
                </mat-expansion-panel-header>
                <!--<p class="font-iran-sans-FA">توضیحات</p>-->
                <div class="container-fluid" style="padding: 0; margin:0;">
                  <div class="row" style="width: 100%; margin: 0;">
                      <div class="col-md-6 p-2">
                          <mat-form-field  style="width: 100%"
                          class="full-width input-focus-hover font-iran-sans-FA">
                              <mat-label>نام دانشگاه</mat-label>
                              <input matInput style="font-size: 16px; height: 50px; padding-bottom: 5px;" [(ngModel)]="universityName">
                          </mat-form-field>
                      </div>
                      <div class="col-md-6 p-2" style="float: left;">
                          <mat-form-field class="full-width input-focus-hover font-iran-sans-FA">
                              <mat-label>رشته</mat-label>
                              <input matInput style="font-size: 16px; height: 50px; padding-bottom: 5px;" [(ngModel)]="universitySubject">
                          </mat-form-field>
                      </div>
                      <div class="center">
                        <button mat-raised-button class="btn-fab font-iran-sans-FA save-button" (click)="postUniversityInfo()">ذخیره</button>
                      </div>
                  </div>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel class="search-expansion">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="font-iran-sans-FA">
                      <mat-icon style="float:right; margin-left: 10px;">search</mat-icon>
                      انتخاب چارت
                    </mat-panel-title>
                    <!--
                    <mat-panel-description class="font-iran-sans-FA">
                      کار خودت رو راحت کن
                    </mat-panel-description>
                    -->
                  </mat-expansion-panel-header>
                  <!--<p class="font-iran-sans-FA">توضیحات</p>-->
                  <div class="container-fluid" style="padding: 0; margin:0;">
                      <div class="row" style="width: 100%; margin: 0;">
                          <div class="col-md-12 p-0 m-0" style="padding: 0; margin:0;" >
                            <mat-tab-group>
                              <mat-tab class="font-iran-sans-FA" label="بر اساس رشته و دانشگاه">
                                 <div class="container-fluid">
                                   <div class="row">
                                     
                                      <div class="col-md-12 p-4" style="margin:0;">
                                        <div class="center">
                                          <button (click)="getCharts(universityName,universitySubject)"
                                            mat-raised-button class="font-iran-sans-FA styled-button main-button long-button">
                                            <mat-icon matSuffix class="pb-3">search</mat-icon>
                                            جستجو بر اساس نام رشته و دانشگاه</button>
                                        </div>
                                      </div>
                                      <div *ngIf="charts.length>0" class="col-md-12 table-responsive-sm" style="padding: 0; margin:0; border-top: none;">
                                        <!-- table view for charts  -->
                                        <table class="table table-responsive-sm table-hover" style="border-top: none; margin-bottom: 0 !important;">
                                          <thead class="thead" style="border-top: none;">
                                            <tr style="border-top: none;">
                                              <th class="text-center"></th>
                                              <th>اطلاعات</th>
                                              <th class="text-center">سازنده</th>
                                              <th class="text-center">آخرین تغییر</th>
                                              <th></th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr *ngFor="let chart of charts;index as i">
                                              <td class="text-center">
                                                {{i+1}}
                                              </td>
                                              <td style="min-width: 160px;">
                                                <div>{{chart.title}}</div>
                                                <div class="small text-muted"><span>{{chart.study}}</span> | {{chart.university}}</div>
                                              </td>
                                              <td style="min-width: 130px;" class="text-center">
                                                <div>{{chart.owner}}</div>
                                              </td>
                                              <td class="text-center">
                                                <div>{{chart.date}}</div>
                                              </td>
                                              <td class="text-center" style="max-width: 225px;"> 
                                                <button mat-raised-button (click)="chartsDetails(chart)" 
                                                        class="font-iran-sans-FA ml-3 mb-2 styled-button secondary-button" 
                                                        style="min-width: 80px;">
                                                        مشاهده
                                                </button>
                                                <button mat-raised-button (click)="selectChart(chart)" class="font-iran-sans-FA ml-3 styled-button main-button"
                                                        style="min-width: 80px;">
                                                        انتخاب
                                                </button>

                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>

                                  </div>
                                 </div>
                              </mat-tab>
                              <mat-tab class="font-iran-sans-FA" label="جستجو بر اساس عنوان">
                                <div class="row" style="width: 100%; margin: 0;">
                                  <div class="col-md-10">
                                    <mat-form-field class="full-width input-focus-hover font-iran-sans-FA mt-2">
                                      <mat-label>جستجو کنید</mat-label>
                                      <input matInput [(ngModel)]="searchChartsTitle" style="font-size: 16px; height: 50px; padding-bottom: 5px;" placeholder="مثلا علوم کامپیوتر امیرکبیر">
                                    </mat-form-field>  
                                  </div>
                                  <div class="col-md-2 mt-3">
                                    <button mat-raised-button (click)="getCharts2(searchChartsTitle)" class="font-iran-sans-FA mt-2 styled-button secondary-button" style="max-width: 100%;">جستجو</button>
                                  </div>
                                  <div *ngIf="charts2.length>0" class="col-md-12 table-responsive-sm" style="padding: 0; margin:0; border-top: none;">
                                    <table class="table table-responsive-sm table-hover" style="border-top: none; margin-bottom: 0 !important;">
                                      <thead class="thead" style="border-top: none;">
                                        <tr style="border-top: none;">
                                          <th class="text-center"></th>
                                          <th>اطلاعات</th>
                                          <th class="text-center">سازنده</th>
                                          <th class="text-center">آخرین تغییر</th>
                                          <th></th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let chart of charts2;index as i">
                                          <td class="text-center">
                                            {{i+1}}
                                          </td>
                                          <td style="min-width: 160px;">
                                            <div>{{chart.title}}</div>
                                            <div class="small text-muted"><span>{{chart.study}}</span> | {{chart.university}}</div>
                                          </td>
                                          <td style="min-width: 130px;" class="text-center">
                                            <div>{{chart.owner}}</div>
                                          </td>
                                          <td class="text-center">
                                            <div>{{chart.date}}</div>
                                          </td>
                                          <td class="text-center" style="max-width: 225px;"> 
                                            <button mat-raised-button (click)="chartsDetails(chart)" 
                                                    class="font-iran-sans-FA ml-3 mb-2 styled-button secondary-button" 
                                                    style="min-width: 80px;">
                                                    مشاهده
                                            </button>
                                            <button mat-raised-button (click)="selectChart(chart)" class="font-iran-sans-FA ml-3 styled-button main-button"
                                                    style="min-width: 80px;">
                                                    انتخاب
                                            </button>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                                
                              </mat-tab>
                            </mat-tab-group>
                          </div>
                          
                          
                      </div>
                  </div>
              </mat-expansion-panel>
          </mat-accordion>
          
          
          
      </div>
      <!-- /.col-->
    </div>
    <!-- /.row-->
  </div>
</div>
<div class="container-fluid pt-3">
  <div class="fade-in">
    <div class="row">
      <div class="col-md-12" *ngIf="userCourses.length==0">
        <div class="card shadow-sm">
          <div class="card-header">نمایش درس ها</div>
          <div class="card-body">
            <div class="col-md-12">
              <button mat-fab color="accent" class="btn-fab" matTooltip="اضافه کردن درس" [matTooltipPosition]="'above'"
                      style="float: right; background-color: #84CAE9;" (click)="addCourse()">
                      +
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8" *ngIf="userCourses.length>0">
        <div class="card shadow-sm">
          <div class="card-header">نمایش درس ها</div>
          <div class="card-body">
            <div class="col-md-12">
              <button mat-fab class="btn-fab" matTooltip="اضافه کردن درس" [matTooltipPosition]="'above'"
                      style="float: right; background-color: #84CAE9;" (click)="addCourse()">
                      +
              </button>
              <button *ngIf="!editView && userCourses.length>0" (click)="enableEdit()"
                      mat-fab
                      class="btn-fab" style="margin-right: 7px; float: right; background-color: #84CAE9;"
                      matTooltip="ویرایش" [matTooltipPosition]="'above'">
                <span class="material-icons">
                  create
                </span>
              </button>
              <button *ngIf="editView && userCourses.length>0" (click)="enableEdit()"
                      mat-fab
                      matTooltip="غیر فعال کردن ویرایش" [matTooltipPosition]="'above'"
                      class="btn-fab" style="margin-right: 7px; float: right; opacity: 1; background-color: #84CAE9;">
                <span class="material-icons">
                  create
                </span>
              </button>
              <button *ngIf="editView && userCourses.length>0" (click)="deleteSelectedRow()"
                      mat-fab
                      matTooltip="حذف" [matTooltipPosition]="'above'"
                      class="btn-fab" style="margin-right: 7px; float: right; background-color: #24305E;">
                <span class="material-icons">
                  delete
                </span>
              </button>
              <!--<div #shoes cdkDropList class="course-list" (cdkDropListDropped)="drop($event)">
                <div class="font-iran-sans-FA course-box" *ngFor="let item of userCourses" cdkDrag>
                  <mat-checkbox class="mt-2 mr-2" (change)="itemStatusChange($event.checked,item)" [(ngModel)]="item.status"></mat-checkbox>
                  <div style="float: right;">
                    {{item.course.title}}
                  </div>
                  
                  <button   mat-button (click)="courseDetails(item)"
                            class="btn-more" matTooltip="مشاهده و ویرایش" [matTooltipPosition]="'above'">
                      <span class="material-icons">
                        edit
                      </span>
                  </button>
                </div>
              </div>-->
              
              <!--<p>
                Options selected: {{shoes.selectedOptions.selected.length}}
              </p>-->
            </div>
            <div *ngIf="userCourses.length>0" class="col-md-12 table-responsive">                         
              <table class="table table-responsive-sm table-hover table-outline mb-0 font-iran-sans-FA" style="border: 1px white solid !important;" >
                <thead class="thead" style="background-color: white !important; border: 1px white solid !important;">
                  <tr style="background-color: white !important; border: none !important;">
                    <th *ngIf="editView">
                      <mat-checkbox (change)="masterToggle($event.checked)" 
                                    [(ngModel)]="masterToggleValue" 
                                    [(indeterminate)]="masterToggleIndeterminate">
                      </mat-checkbox>
                    </th>
                    <th>نام درس</th>
                    <th>واحد</th>
                    <th>وضعیت</th>
                    <th></th>

                  </tr>
                </thead>
                <tbody  class="drag-list" 
                        cdkDropList (cdkDropListDropped)="drop($event)" 
                        style="background-color: rgb(245,246,248);">
                  <tr  cdkDrag *ngFor="let item of userCourses;index as i" class="first drag-box"  >
                    <td *ngIf="editView" 
                        style="background-color: white;">
                        <mat-checkbox (change)="checkboxLabel($event,i)"
                                      [(ngModel)]="item.checkList">
                        </mat-checkbox>
                    </td>
                    <td class="first">
                      <div>
                        <div class="form-group font-iran-sans-FA" style="margin:0px !important; padding-bottom: 0;">
                          <mat-form-field style="margin:0px !important;" appearance="none">
                            <input matInput 
                            type="text" 
                            class="form-control" 
                            [(ngModel)]="item.course.title" name="title" 
                            aria-describedby="title" 
                            placeholder="نام درس!" 
                            style="padding: 0 !important; margin: 0 !important;"
                            maxlength="255" style="min-width:180px; max-width: 100%; padding: 0;">
                          </mat-form-field>
                        </div>
                      </div>
                      <!--<div class="small text-muted"><span>جدید</span> | اضافه شده در: 17 فروردین 99</div>-->
                    </td>
                    <td class="text-center" style="width: 80px;">
                      <div class="form-group font-iran-sans-FA" style="margin:0px !important; padding-bottom: 0;">
                        <mat-form-field appearance="none" style="margin:0px !important; min-width:80px; width: 80px;">
                          <input matInput 
                          type="number" 
                          class="form-control" 
                          [(ngModel)]="item.unit"name="unit" 
                          aria-describedby="unit" 
                          placeholder="3" 
                          maxlength="2" style="min-width:50px; max-width: 100%; padding: 0 !important; margin: 0 !important;">
                        </mat-form-field>
                      </div>
                    </td>
                    
                    <!--task status 0 1 2-->
                    <td *ngIf="item.status===0" 
                        style="margin-top:0px; padding-top: 0px;width: 120px; background-color: #E14055;">
                      <mat-form-field appearance="none"
                        style="width: 120px; padding-top: 5px;">
                        <mat-select
                          class="mat-status-select font-iran-sans-FA align-center text-center" 
                          style="color: white !important; min-width: 100%; padding: 4px 0 4px 0;" 
                          [(value)]="item.status">
                          <mat-option [value]="status.value" 
                            class="font-iran-sans-FA" 
                            *ngFor="let status of statusType">{{ status.viewValue }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                    <td *ngIf="item.status===1" 
                        style="margin-top:0px; padding-top: 0px;width: 120px; background-color: #0CC078;">
                      <mat-form-field appearance="none"
                        style="width: 120px; padding-top: 5px;">
                        <mat-select
                          class="mat-status-select font-iran-sans-FA align-center text-center" 
                          style="color: white !important; min-width: 100%; padding: 4px 0 4px 0;" 
                          [(value)]="item.status">
                          <mat-option [value]="status.value" 
                            class="font-iran-sans-FA" 
                            *ngFor="let status of statusType">{{ status.viewValue }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                    <!--<td *ngIf="task.status==='2'" 
                        style="margin-top:0px; padding-top: 0px;width: 120px; background-color: #00c875;">
                      <mat-form-field appearance="none"
                        style="width: 120px; padding-top: 5px;">
                        <mat-select
                          class="mat-status-select font-iran-sans-FA align-center text-center" 
                          style="color: white !important; min-width: 100%; padding: 4px 0 4px 0;" 
                          [(value)]="task.status">
                          <mat-option [value]="status.value" 
                            class="font-iran-sans-FA" 
                            *ngFor="let status of statusType">{{ status.viewValue }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>-->
                    <td style="background-color: white;">
                      <button mat-button (click)="courseDetails(item)"
                              class="btn-more" matTooltip="اطلاعات اضافی" [matTooltipPosition]="'above'"
                              style="margin-right: 7px; float: right;">
                          <span class="material-icons">
                            subject
                          </span>
                      </button>
                      <button mat-button (click)="deleteRow(i)"
                              class="btn-delete" matTooltip="حذف درس" [matTooltipPosition]="'above'"
                              style="margin-right: 7px; float: right; padding: 0;">
                          <span class="material-icons" style="font-size: 20px; padding-top: 0; margin-top: 0;">
                            delete
                          </span>
                      </button>
                    </td>
                  </tr>
                  <tr class="custom-drag-placeholder" *cdkDragPlaceholder>
                  </tr> 
                </tbody>
              </table>
            </div>
          </div>
          <!--SAVE BUTTON-->
            <div class="center">
              <button mat-raised-button class="btn-fab font-iran-sans-FA save-button" (click)="editCharts()">ذخیره</button>
            </div>
          <!--SAVE BUTTON-->
        </div>
      </div>
      <div class="col-md-4" *ngIf="userCourses.length>0">
        <!--<div class="card shadow-sm">
          <div class="card-header">جستجو کنید</div>
          <div class="card-body pr-0 pl-0">
            <div class="col-md-12">
              <form *ngIf="userCourses.length>0" class="search-form">
                <mat-form-field class="w-100">
                  <mat-label class="pb-2">جستجو</mat-label>
                  <input type="tel" matInput  style="padding-bottom:10px; margin-top: 10px;">
                  <mat-icon matSuffix class="pb-3">search</mat-icon>
                </mat-form-field>
              </form>
            </div>
          </div>
        </div>-->

        <div class="card shadow-sm">
          <div class="card-header">تغییر شیوه نمایش</div>
          <div class="card-body pr-0 pl-0">
            <!--<div class="col-md-12 mt-3">
              <mat-form-field appearance="none"
                  class="shadow-md"
                  style="padding-top: 10px; border-radius: 4px; overflow: visible; width: 100%; box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);">
                <mat-label class="p-3" style="margin-top: 10px;">فیلتر نمایش</mat-label>
                <mat-select [(ngModel)]="statusSelectedValue" name="statusFilter"
                            class="font-iran-sans-FA align-center text-center" 
                            style="color: white !important; min-width: 100%;">
                  <mat-option *ngFor="let status of showingStatus" [value]="status.value"
                              class="font-iran-sans-FA">
                    {{status.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>-->
            <div class="col-md-12 mt-3 center">
              <button (click)="getCoursesOrdered()" mat-raised-button class="font-iran-sans-FA w-100 styled-button secondary-button" style="min-width: 80px;">مرتب سازی بر اساس الفبا</button>
            </div>  
          </div>
        </div>
        <div class="card shadow-sm">
          <div class="card-header">اشتراک گذاری</div>
          <div class="card-body pr-0 pl-0">
            <p class="col-md-12" style="text-align: justify; text-justify: inter-word;">
               با این امکان شما میتوانید چارتی که ساختید را عمومی کنید تا باقی دانشجویان نیز از آن استفاده کنند. موقع عمومی کردن فقط لیست دروس و واحد آنها منتشر میشود.
            </p>
            <div class="col-md-12">
              <form *ngIf="userCourses.length>0" class="search-form">
                <mat-form-field class="w-100">
                  <mat-label class="pb-2">عنوان چارت</mat-label>
                  <input type="text" [(ngModel)]="titleChart" name="title" matInput style="padding-bottom:10px; margin-top: 10px;">
                </mat-form-field>
              </form>
            </div>
            <div class="col-md-12 mt-3 center">
              <button mat-raised-button (click)="publishedChart()" class="font-iran-sans-FA w-100 styled-button secondary-button" style="min-width: 80px;">چارت را به بقیه معرفی کن</button>
            </div>  
          </div>
        </div>
        <!--
        <div class="card shadow-sm">
          <div class="card-header">ثبت تغییرات</div>
          <div class="card-body pr-0 pl-0">
            <div class="col-md-12 mt-3">
              <button mat-raised-button class="font-iran-sans-FA btn-success w-100" style="min-width: 80px;">ذخیره تنظیمات</button>
            </div>

            <mat-divider class="col-md-12 mt-3 p-0" style="padding: 0;"></mat-divider>
            <div class="col-md-12 mt-3">
              <button mat-raised-button class="font-iran-sans-FA btn-danger w-100" style="min-width: 80px;">حذف همه</button>
            </div>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>
</div>