body {
  background-color: #EBEDEF;
}
//INPUT
.example-form-field-long {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
}

.example-form-field-short {
  min-width: 150px;
  max-width: 200px;
  width: 100%;
}

input {
  font-size: 16px; 
  height: 30px; 
  padding-bottom: 5px;
}


//BUTTONS
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-bottom: 10px;
}

button {
  border-radius: 20px;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 80px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  cursor: pointer;
	margin: 0 10px;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

.saveButton {
  color: white;
  background-color: #374785;
  border: 2px solid #374785;
}

/* BUTTON EFFECTS IF THERES TIME
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);

$btn-width: 250px !default;
$btn-height: 80px !default;
$btn-full: $btn-height+$btn-width !default;
$btn-half: $btn-full/2 !default;
$bg-color: #eeeeee !default;

html {
  padding-top: 50px;
  font-family: 'Open Sans', Helvetica, arial, sans-serif;
  text-align: center;
  background-color: $bg-color;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
  }

  i,em,
  b,strong,
  span {
    transition: none;
  }
}

*:before,
*:after {
  z-index: -1;
}

a {
  text-decoration: none;
  line-height: $btn-height;
  color: black;
}

.centerer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem
}

@media (min-width: 600px) {
  .wrap {
    width: 50%;
    float: left;
  }
}

[class^="btn-"] {
  position: relative;
  display: block;
  overflow: hidden;
  //@include size(100%, $btn-height);
  max-width: $btn-width;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 1px solid currentColor;
}

.btn-0 {
  $btn-color: #374785;
  //$btn-color-dark: shade($btn-color, 40%);
  //color: tint($btn-color);

  &:before {
    content: '';
    //@include absolute(0,0,0,0);
    background-color: #a8d0e6;
    transform: translateX(-100%);
  }

  &:hover {
    color: tint($btn-color, 75%);

    &:before {
      transform: translateX(0);
    }
  }
}

.btn-1 {
  $btn-color: pink;
  //$btn-color-dark: shade($btn-color, 40%);
  color: tint($btn-color);
  
  &:before {
    content: '';
    //@include absolute(0,-50px,0,0);
    border-right: 50px solid transparent;
    //border-bottom: $btn-height solid $btn-color-dark;
    transform: translateX(-100%);
  }

  &:hover {
    color: tint($btn-color, 75%);

    &:before {
      transform: translateX(0);
    }
  }
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    @include size(20px);
  }
  100% {
    left: 50%;
    @include size($btn-width*1.5);
  }
}

@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    @include size(20px);
  }
  100% {
    right: 50%;
    @include size($btn-width*1.5);
  }
}
*/
