<body>
  <div class="container-fluid font-iran-sans-FA">
    <div class="fade-in">
      <div class="row">
        <div class="col-md-12">
          <div class="card shadow-sm">
            <div class="card-header">اطلاعات شخصی</div>
            <div class="card-body">
              <mat-form-field class="example-form-field-long" style="margin-left: 50px;">
                <mat-label>نام</mat-label>
                <input matInput type="text" name="name" [(ngModel)]="name">
              </mat-form-field>
              <mat-form-field class="example-form-field-long">
                <mat-label>نام خانوادگی</mat-label>
                <input matInput type="text" name="surname" [(ngModel)]="surname">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card shadow-sm">
            <div class="card-header">اطلاعات دانشگاهی</div>
            <div class="card-body">
              <div class="col-md-12">
                <mat-form-field class="example-form-field-long" style="margin-left: 50px;">
                  <mat-label>نام دانشگاه</mat-label>
                  <input matInput type="text" name="universityName" [(ngModel)]="universityName">
                </mat-form-field>
                <mat-form-field class="example-form-field-long">
                  <mat-label>رشته</mat-label>
                  <input matInput type="text" name="universitySubject" [(ngModel)]="universitySubject">
                </mat-form-field>
              </div>
            </div>
            <div class="card-body">
              <div class="col-md-12">
                <mat-form-field class="example-form-field-short" style="margin-left: 250px;">
                    <mat-label>معدل کل</mat-label>
                    <input matInput type="number" name="overallAverage" [(ngModel)]="overallAverage">
                </mat-form-field>
                <mat-form-field class="example-form-field-short">
                  <mat-label>معدل آخرین ترم</mat-label>
                  <input matInput type="number" name="termAverage" [(ngModel)]="termAverage">
                </mat-form-field>
              </div>
            </div>
            <div class="card-body">
              <div class="col-md-12">
                <mat-form-field class="example-form-field-short" style="margin-left: 250px;">
                    <mat-label>سال ورود</mat-label>
                    <input matInput type="number" name="entryYear" [(ngModel)]="entryYear">
                </mat-form-field>
                <mat-form-field class="example-form-field-short">
                  <mat-label>تعداد کل واحدها</mat-label>
                  <input matInput type="number" name="units" [(ngModel)]="units">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="center">
        <button class="saveButton" (click)="postSettings()">ذخیره</button>
      </div>
    </div>
  </div>
</body>


<!--PRETTY BUTTONS IF THERE IS TIME
<div class="centerer">
  <div class="wrap">
    <a class="btn-0" href="#">Swipe</a>
    <a class="btn-1" href="#">Diagonal Swipe</a>
  </div>
</div>
-->


<!-- USERNAME PASSWORD EMAIL BODY FOR ETELAAT SHAKHSI
              <div class="card-body">
              <div class="col-md-12">
                <mat-form-field class="example-form-field-long">
                  <mat-label>Username</mat-label>
                  <input matInput type="text" name="username" [(ngModel)]="username">
                  <button mat-button *ngIf="username" matSuffix mat-icon-button aria-label="Clear" (click)="username=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>
            <div class="card-body">
              <div class="col-md-12">
                <mat-form-field class="example-form-field-long">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" name="email" [(ngModel)]="email">
                  <button mat-button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="email=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>
            <div class="card-body">
              <div class="col-md-12">
                <mat-form-field class="example-form-field-long">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" name="password" [(ngModel)]="password">
                  <button mat-button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>
-->