table,table th,table td {
    //border: 3px white solid !important;
    border-collapse:separate;
    border-spacing:5px 5px;
    border-top: none;
    border-bottom: none;
    //border-right: none !important;
    column-gap: 5px;
}

table td{
    padding-top:5px;
    padding-bottom:0px;
}
.first{
    border-right: #123C69 4px solid !important;
    //border-radius: 5%;
}


.btn-fab{
    margin-bottom: 10px;
    background-color: #84CAE9;
    color: white;
    font-size: 20pt;
    font-weight: bolder;
    opacity: 0.8;
    transition: all 0.3s ease-in-out 0s;
}
.btn-fab:hover{
    background-color: #84CAE9;
    color: white;
    transition: all 0.3s ease-in-out 0s;
    opacity: 1;
}


.search-form {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
}

.search-full-width {
    width: 100%;
}


//drag
.custom-drag-placeholder{
    background: #ccc;
    border: dotted 3px #999;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.drag-box{
    justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
}
.cdk-drag-preview {
    box-sizing: border-box;
    background-color: white;
    opacity: 0.8;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

//BUTTONS
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 10px 0;
}

.styled-button {
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    transition: transform 80ms ease-in;
    cursor: pointer;
    margin: 0px;
    min-width: 80px;
    padding: 5px 80px;
    background-color: #84CAE9;
    color: white;
}
  
  .styled-button:active {
    transform: scale(0.95);
}
  
  .styled-button:focus {
    outline: none;
}
