<div class="custom-dialog font-iran-sans-FA" dir="rtl">
	<h2 class="font-iran-sans-FA" mat-dialog-title style="text-align: right; color: #24305e;">{{modalTitle}}</h2>
	<mat-dialog-content style="text-align: right;">
		<p style="text-align: right; color: #24305e;">
            {{modalMessage}}
		</p>
	</mat-dialog-content>
    <mat-dialog-actions style="text-align: right;">
        
        <button mat-raised-button [mat-dialog-close]="true" 
                class="btn font-iran-sans-FA main-button"
                style="max-width: 100%;">بله</button>
        <button mat-button mat-raised-button [mat-dialog-close]="false" 
                class="btn font-iran-sans-FA secondary-button"
                style="max-width: 100%; margin-left:10px;">خیر</button>

	</mat-dialog-actions>
</div>
