@import '@angular/material/prebuilt-themes/deeppurple-amber.css'; 


/* You can add global styles to this file, and also import other style files */
$second-color : #AC3B61;

th,tr,table{
    font-family: iranSans;  
}

.c-sidebar{
    font-family: iranSans;  
    background: #24305E !important;
}
.c-sidebar ,.c-sidebar-dark ,.c-sidebar-fixed ,.c-sidebar-lg-show{
    z-index:990 !important;
}
.c-header.c-header-fixed{
    z-index:900 !important
}
@media (max-width: 991.98px){
    .c-sidebar-backdrop {
        z-index: 989 !important;
    }
}


.c-sidebar .c-sidebar-nav-link:hover{
    background-color: #A8D0E6 !important;
}
.c-body{
    font-family: IRANSans;  
    //background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='800' preserveAspectRatio='none' viewBox='0 0 1440 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1033%26quot%3b)' fill='none'%3e%3crect width='1440' height='800' x='0' y='0' fill='rgba(235%2c 237%2c 239%2c 1)'%3e%3c/rect%3e%3cpath d='M409.806%2c455.484C493.676%2c459.415%2c574.896%2c415.316%2c615.51%2c341.831C654.967%2c270.439%2c644.061%2c181.781%2c598.456%2c114.151C557.728%2c53.753%2c482.631%2c38.562%2c409.806%2c36.778C332.573%2c34.887%2c244.61%2c38.508%2c204.443%2c104.501C163.279%2c172.133%2c195.008%2c255.661%2c234.992%2c323.997C274.459%2c391.449%2c331.742%2c451.825%2c409.806%2c455.484' fill='rgba(45%2c 47%2c 48%2c 0.17)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1076.353525958038 615.2577563425087L1148.4865392107354 467.3631621658129 1000.5919450340396 395.2301489131156 928.4589317813422 543.1247430898114z' fill='rgba(45%2c 47%2c 48%2c 0.17)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1401.085%2c634.175C1447.038%2c633.56%2c1480.527%2c594.513%2c1501.292%2c553.515C1519.873%2c516.83%2c1520.649%2c474.114%2c1500.235%2c438.417C1479.669%2c402.453%2c1442.486%2c379.802%2c1401.085%2c378.282C1356.746%2c376.654%2c1311.01%2c392.425%2c1288.471%2c430.643C1265.631%2c469.372%2c1274.355%2c516.92%2c1296.123%2c556.261C1318.733%2c597.125%2c1354.387%2c634.8%2c1401.085%2c634.175' fill='rgba(45%2c 47%2c 48%2c 0.17)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1101.003%2c854.388C1174.842%2c850.993%2c1239.194%2c807.564%2c1275.451%2c743.15C1310.985%2c680.021%2c1315.992%2c601.914%2c1277.744%2c540.391C1241.315%2c481.793%2c1169.949%2c459.868%2c1101.003%2c462.541C1037.047%2c465.021%2c982.734%2c500.47%2c946.506%2c553.234C903.369%2c616.061%2c861.583%2c692.769%2c896.37%2c760.577C933.08%2c832.134%2c1020.664%2c858.081%2c1101.003%2c854.388' fill='rgba(45%2c 47%2c 48%2c 0.17)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M745.9973746296293 84.16333197587085L705.986006041239 207.3056623802109 829.1283364455791 247.31703096860127 869.1397050339694 124.1747005642612z' fill='rgba(45%2c 47%2c 48%2c 0.17)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M619.0211604461274 538.7916163773771L679.0443582146065 403.9773069020473 544.2300487392768 343.9541091335682 484.20685097079763 478.76841860889795z' fill='rgba(45%2c 47%2c 48%2c 0.17)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1033'%3e%3crect width='1440' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
.c-subheader{
    font-family: IRANSans;
}
.font-iran-sans-FA{
    font-family: IRANSans;
}
.bg-purple-color{
    background-color: #AC3B61 !important;
}
.bg-dark-blue-color{
    background-color: #24305E !important;
}
.bg-gray-color{
    background-color: #A8D0E6 !important;
}
.bg-pink-color{
    background-color: #f76c6c !important;
}
.bg-red-color{
    background-color: #E14055 !important;
}
.bg-green-color{
    background-color: #0CC078 !important;
}
.bg-yellow-color{
    background-color: #F7DE35 !important;
}

//font: placeholder
.mainLoginInput::-webkit-input-placeholder {
font-family: iransansdn !important;
}

.mainLoginInput:-ms-input-placeholder {
font-family: iransansdn !important;
}

.mainLoginInput:-moz-placeholder {
font-family: iransansdn !important;
}

.mainLoginInput::-moz-placeholder {
font-family: iransansdn !important;
}
.mat-form-field{
font-family: IRANSans !important;
//color: $second-color !important;
}


// mat-tooltip
::ng-deep .mat-tooltip {
/* your own custom styles here */ 
/* e.g. */
    font-family: iransansdn !important;
}
.mat-tooltip {
    /* your own custom styles here */ 
    /* e.g. */
    font-family: iransansdn !important;
}



//mat select - task manager
.table .mat-select-panel, .table .mat-select-min-line {
    color: white !important;
    font-weight: bolder;
}
.table .mat-form-field.mat-focused.mat-primary .mat-select-arrow{
    color: white;
    //opacity: 0;
    
}
.table .mat-select-arrow{
    color: white;
    //opacity: 0;
}

.input-focus-hover .mat-form-field-wrapper{
    padding:0 !important;
    padding-bottom: 5px !important;
}
.select-focus-hover .mat-form-field-wrapper {
    padding:0 !important;
    padding-bottom: 15px !important;
}
.mat-form-field-infix {
    padding:0 !important;
}







// expansion clear padding:
.search-expansion .mat-expansion-panel-body{
    padding:0;
}

// mat tab font:
.mat-tab-label .mat-tab-label-content{
    font-family: iranSans;  
    font-weight: bold;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';





//date picker:
dp-time-select .dp-time-select-controls{
    direction: ltr;
    font-family: iranSansDn;  
}
dp-day-calendar.dp-material .dp-calendar-wrapper{
    font-family: iransansdn;
}
dp-calendar-nav.dp-material .dp-nav-header-btn{
    font-family: iransansdn;
}



// timeline:
.apexcharts-yaxis-texts-g, .apexcharts-xaxis-inversed-texts-g, .apexcharts-yaxis-texts-g text tspan, .apexcharts-legend-series span{
    font-family: iranSans !important;  
}


.add-course .mat-input-element{
    width: 100% !important;
    height: 35px !important;
    padding:0 !important;
}