<div class="custom-dialog" dir="rtl">
        <h2 mat-dialog-title style="text-align: right;" class="font-iran-sans-FA">{{modalTitle}}</h2>
	<mat-dialog-content style="text-align: right;">
		<p style="text-align: right;" class="font-iran-sans-FA">{{modalMessage}}</p>
	</mat-dialog-content>

        <mat-dialog-actions style="text-align: right;">
                <div class="center">
                        <button mat-button mat-raised-button [mat-dialog-close]="false" class="btn font-iran-sans-FA">تایید</button>
                </div>
	</mat-dialog-actions>
</div>