<div class="c-app">
  <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
  <div class="c-sidebar-brand d-lg-down-none">
    {{userName}}
    <!--
    <svg class="c-sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
      <use xlink:href="assets/brand/coreui.svg#full"></use>
    </svg>-->
    <!--
    <svg class="c-sidebar-brand-minimized" width="46" height="46" alt="CoreUI Logo">
      <use xlink:href="assets/brand/coreui.svg#signet"></use>
    </svg>-->
  </div>
  <ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-item"  >
      <a class="c-sidebar-nav-link" [routerLink]="['/dashboard']">
        <span class="material-icons c-sidebar-nav-icon" style="font-size: 15pt; margin-top: -6px;">
          home
        </span>
        داشبورد
        <!--<span class="badge badge-info">NEW</span>-->
      </a>
    </li>
    
    <!--<li class="c-sidebar-nav-title">مدیریت کارها</li>-->
    <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
      <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="/charts">
        <span class="material-icons c-sidebar-nav-icon" style="font-size: 15pt; margin-top: -6px;">
          school
        </span>
        دانشگاه
      </a>
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item" >
          <a class="c-sidebar-nav-link"  [routerLink]="['/charts']">
            <span class="c-sidebar-nav-icon"></span>
          مدیریت واحد ها
          </a>
        </li>
        <li class="c-sidebar-nav-item">
          <a class="c-sidebar-nav-link" [routerLink]="['/course']">
            <span class="c-sidebar-nav-icon"></span>
             انتخاب واحد
          </a>
        </li>
        <!--<li class="c-sidebar-nav-item">
          <a class="c-sidebar-nav-link" href="#">
            <span class="c-sidebar-nav-icon"></span>
             اپلای
          </a>
        </li>-->
      </ul>
    </li>
    <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
      <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle">
        <span class="material-icons c-sidebar-nav-icon" style="font-size: 15pt; margin-top: -6px;">
          add_alert
        </span>
        یادآور
      </a>
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item">
          <a class="c-sidebar-nav-link" [routerLink]="['/task']">
            <span class="c-sidebar-nav-icon"></span>
             تسک منیجر
          </a>
        </li>
        <!--<li class="c-sidebar-nav-item">
          <a class="c-sidebar-nav-link" href="#">
            <span class="c-sidebar-nav-icon"></span>
             نوت
          </a>
        </li>-->
      </ul>
    </li>
    <li class="c-sidebar-nav-item">
      <a class="c-sidebar-nav-link" [routerLink]="['/settings']">
        <span class="material-icons c-sidebar-nav-icon" style="font-size: 15pt; margin-top: -6px;">
          settings
        </span>
        تنظیمات
      </a>
    </li>
    <li class="c-sidebar-nav-item"  >
      <a class="c-sidebar-nav-link" (click)="logout()">
        <svg class="material-icons c-sidebar-nav-icon" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><g><path d="M0,0h24v24H0V0z" fill="none"/></g><g><path d="M17,8l-1.41,1.41L17.17,11H9v2h8.17l-1.58,1.58L17,16l4-4L17,8z M5,5h7V3H5C3.9,3,3,3.9,3,5v14c0,1.1,0.9,2,2,2h7v-2H5V5z"/></g></svg>
          خروج
      </a>
    </li>
    <li class="c-sidebar-nav-divider"></li>

  </ul>
  <!--<button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>-->
  </div>
  <div class="c-wrapper c-fixed-components">
  <header class="c-header c-header-light c-header-fixed c-header-with-subheader">
    <button style="padding:4px;"  class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar" data-class="c-sidebar-show">
      <span class="material-icons">
        menu
        </span>
    </button>
    <a class="c-header-brand d-lg-none" href="#">
      {{userName}}
      <!--
      <svg width="118" height="46" alt="CoreUI Logo">
        <use xlink:href="assets/brand/coreui.svg#full"></use>
      </svg>-->
    </a>
    <button style="padding:4px;" class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true">
      <span class="material-icons">
        menu
        </span>
    </button>
    <!--
    <ul class="c-header-nav d-md-down-none">
      <li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="#">داشبورد</a></li>
      <li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="#">Users</a></li>
      <li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="#">تنظیمات کاربرد</a></li>
    </ul>
    <ul class="c-header-nav ml-auto mr-4">
      <li class="c-header-nav-item d-md-down-none mx-2"><a class="c-header-nav-link" href="#">
          <svg class="c-icon">
            <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-bell"></use>
          </svg></a></li>
      <li class="c-header-nav-item d-md-down-none mx-2"><a class="c-header-nav-link" href="#">
          <svg class="c-icon">
            <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-list-rich"></use>
          </svg></a></li>
      <li class="c-header-nav-item d-md-down-none mx-2"><a class="c-header-nav-link" href="#">
          <svg class="c-icon">
            <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-envelope-open"></use>
          </svg></a></li>
      <li class="c-header-nav-item dropdown"><a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <div class="c-avatar"><img class="c-avatar-img" src="assets/img/avatars/6.jpg" alt="user@email.com"></div>
        </a>
        <div class="dropdown-menu dropdown-menu-right pt-0">
          <div class="dropdown-header bg-light py-2"><strong>Account</strong></div><a class="dropdown-item" href="#">
            <svg class="c-icon mr-2">
              <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-bell"></use>
            </svg> Updates<span class="badge badge-info ml-auto">42</span></a><a class="dropdown-item" href="#">
            <svg class="c-icon mr-2">
              <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-envelope-open"></use>
            </svg> Messages<span class="badge badge-success ml-auto">42</span></a><a class="dropdown-item" href="#">
            <svg class="c-icon mr-2">
              <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-task"></use>
            </svg> Tasks<span class="badge badge-danger ml-auto">42</span></a><a class="dropdown-item" href="#">
            <svg class="c-icon mr-2">
              <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-comment-square"></use>
            </svg> Comments<span class="badge badge-warning ml-auto">42</span></a>
          <div class="dropdown-header bg-light py-2"><strong>تنظیمات</strong></div><a class="dropdown-item" href="#">
            <svg class="c-icon mr-2">
              <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-user"></use>
            </svg> مشخصات شخصی</a>
            
              <svg class="c-icon mr-2">
              <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-settings"></use>
            </svg> Settings</a><a class="dropdown-item" href="#">
            <svg class="c-icon mr-2">
              <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-credit-card"></use>
            </svg> Payments<span class="badge badge-secondary ml-auto">42</span></a><a class="dropdown-item" href="#">
            <svg class="c-icon mr-2">
              <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-file"></use>
            </svg> Projects<span class="badge badge-primary ml-auto">42</span>
          <div class="dropdown-divider"></div><a class="dropdown-item" href="#">
            <svg class="c-icon mr-2">
              <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-lock-locked"></use>
            </svg> قفل کردن اکانت</a><a class="dropdown-item" href="#">
            <svg class="c-icon mr-2">
              <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-account-logout"></use>
            </svg> خروج از پنل</a>
        </div>
      </li>
    </ul>-->
    <!-- Breadcrumb-->
    <!--<div class="c-subheader px-3">
      <ol class="breadcrumb border-0 m-0">
        <li class="breadcrumb-item">چارتر</li>
        <li class="breadcrumb-item"><a href="#">نام کاربر</a></li>
        <li class="breadcrumb-item active">داشبورد</li>
      </ol>
    </div>-->
    <!-- Breadcrumb Menu-->
  </header>
  <div class="c-body">
    <main class="c-main">
      <router-outlet></router-outlet>
    </main>
    <footer class="c-footer">
      <div><a href="#">Charter</a> &copy; 2021.</div>
      <div class="ml-auto">Powered by&nbsp;<a href="#">C PLANNER</a></div>
    </footer>
  </div>
  </div>
</div>
